HOST="${HUBS_HOST}"
RETICULUM_SOCKET_SERVER="${HUBS_HOST}"
CORS_PROXY_SERVER="${PROXY_HOST}:4080"
NON_CORS_PROXY_DOMAINS="${PROXY_HOST},${HUBS_HOST}"
BASE_ASSETS_PATH="https://${HUBS_HOST}:8989/"
RETICULUM_SERVER="${HUBS_HOST}:4000"
POSTGREST_SERVER=""
ITA_SERVER=""
INTERNAL_HOSTNAME="${HUBS_HOST}"

THUMBNAIL_SERVER="${THUMBNAIL_HOST}:5000"
